<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>आज <%= listTitle %> हैं !</h1>
    </div>
    <div class="box">
        <!-- <li>So Jao Bhai!</li>
            <li>Nahane Jao Bhai!</li>
            <li>Ghar Jao Bhai!</li> -->
        <% for(var i=0;i<newItem.length;i++){ %>
            <div class="item">
                <input type="checkbox">

                <p>
                    <%= newItem[i] %>
                </p>
            </div>
            <% }%>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="aage ka bata" autocomplete="off">
                    <button type="submit" name="button">+</button>
                </form>
    </div>

</body>
</html>